@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    
    <img class="index-img" src="~/Images/pexels-photo-4191618.jpeg" />
    
    <div class="info-text">Engs Virkeri ägs och drivs av mig, Sandra. Virkning och stickning är något jag brinner för, 
        tyvärr så har jag bara så många att kunna sticka eller virka till i min närhet. Därför startade jag Engs Virkeri, 
        nu har även ni möjlighet att njuta av mina stickade och virkade alster!</div>
</div>
